@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --color-verde: #a5da43;
  --color-rojo: #d32c5e;
}

.hidden {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", system-ui;
  color: gray
}

h2 {
  margin: 0;
  font-family: "Coiny", system-ui;
  font-weight: 400;
  font-size: 40px;
  color: rgb(59, 59, 59);
}

/* Seccion MENU */
section.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px 30px;

  .menu-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 50px;
      margin-bottom: 14px;
    }

    & > div {
      width: 525px;
      max-width: 100%;
      text-align: center;
      margin-bottom: 24px;
    }

    nav {
      ul {
        display: flex;
        gap: 10px;
        padding: 0;
        margin: 0 0 14px;
        list-style: none;
      }

      li {
        border: 1px solid black;
        padding: 10px;
        transition: all 0.3s ease;

        &:hover {
          border: solid 1px gray;
          background-color: var(--color-verde);

          a {
            color: white;
          }
        }
      }

      a {
        text-decoration: none;
        color: black;
      }
    }
  }

  .contenedor-grid {
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2px;
      justify-content: center;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      margin: 0;
      padding: 0;
    }

    img {
      width: 300px;
      height: auto;
      display: block;
    }
  }
}

/* Seccion Spices & Taste */
.spices_taste {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 100px;

    padding-bottom: 30px;

    & img {
        width: 300px;
        height: 250px;
        position: relative;
    }

    & .fechas {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 50px;
        padding: 10px 0;
        background-color: white;
        text-align: center;
        font-size: 0.85rem;
    }

    & .informacion {
        & div {
            width: 500px;

            padding-bottom: 35px;
        }

        & a {
            text-decoration: none;

            border: 1px solid var(--color-primario);
            border-radius: 20px;

            padding: 10px;
            padding-left: 25px;
            padding-right: 25px;

            background-color: white;
            color: black;
        }

        & a:hover {
            background-color: var(--color-primario);
            color: white;
        }
    }
}

.spices_taste {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-bottom: 30px;

    & .imagen_y_fecha {
        position: relative;
    }

    & img {
        width: 450px;
        height: 300px;
        display: block;
    }

    & .fechas {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 65px; 
      padding: 25px 5px; 
      background-color: white;
      text-align: center;
      font-size: 0.85rem;
      word-spacing: 100vw; 
      line-height: 1.4;
      color: gray;
      font-weight: bold;
    }

    & .cotenedor_info {
        text-align: left; 

        & div {
            width: 500px;
            padding-bottom: 35px;
        }

        & a {
            display: inline-block;
            text-decoration: none;
            border: 1px solid var(--color-primario);
            border-radius: 30px;
            padding: 10px 25px;
            background-color: #a5da43; 
            color: white;
            font-weight: bold;
        }
    }
}

/* Seccion Midnight Deals */
.midnight_deals {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-bottom: 30px;

    & .imagen_y_fecha {
        position: relative;    
    }

    & img {
        width: 450px;
        height: 300px;
        display: block;
        margin-left: -90px;
    }

    & .fechas {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 65px; 
        padding: 25px 5px; 
        background-color: white;
        text-align: center;
        font-size: 0.85rem;
        word-spacing: 100vw; 
        line-height: 1.4;
        color: gray;
        font-weight: bold;
    }

    & .cotenedor_info {
        & div {
            width: 500px;
            padding-bottom: 35px;
        }

        & a {
            display: inline-block;
            text-decoration: none;
            border: 1px solid var(--color-secundario);
            border-radius: 30px;
            padding: 10px 25px;
            background-color: crimson;
            color: white;
        }
    }
}

/* RESPONSIVE */
/* Tablet */
@media (max-width: 1000px) {
  section.menu {
    padding: 16px 4vw 20px;
    .menu-header > div {
      width: 90vw;
      min-width: 180px;
    }

    nav ul {
      flex-wrap: wrap;
      gap: 8px;
    }

    .contenedor-grid ul {
      grid-template-columns: repeat(2, 1fr);
    }

    .contenedor-grid img {
      width: 45vw;
      min-width: 140px;
    }
  }

  .spices_taste, .midnight_deals {
    flex-direction: column;
    gap: 40px;
    & img {
      width: 60vw;
      min-width: 180px;
    }

    & .cotenedor_info div, & .informacion div {
      width: 90vw;
      min-width: 180px;
    }

    & .fechas {
      right: 5px;
      left: auto;
      top: 5px;
      padding: 15px 5px;
      font-size: 0.8rem;
    }
  }
}

/* Movil */
@media (max-width: 700px) {
  section.menu {
    padding: 8px 2vw 10px;
    .menu-header h2 {
      font-size: 32px;
    }

    .menu-header > div {
      width: 98vw;
      min-width: 100px;
      font-size: 0.95em;
    }

    nav ul {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 6px;
      justify-content: center;
      align-items: center;
    }

    .contenedor-grid ul {
      grid-template-columns: 1fr;
    }

    .contenedor-grid img {
      width: 90vw;
      min-width: 100px;
    }
  }
  .spices_taste, .midnight_deals {
    gap: 20px;
    & img {
      width: 95vw;
      min-width: 100px;
    }

    & .cotenedor_info div, & .informacion div {
      width: 98vw;
      min-width: 100px;
    }
    
    & .fechas {
      right: 0;
      left: auto;
      padding: 10px 2px;
      font-size: 0.75rem;
    }
  }
}